<div class = "landing-page-container">
<div id="destination-input">
<input type="text" [(ngModel)]="destinationText" placeholder="Destination" />
</div>

<mat-form-field id="date-range-picker">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate [(ngModel)]="startDate" placeholder="Start date" />
    <input matEndDate [(ngModel)]="endDate" placeholder="End date" />
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<button (click)="onSubmit()">Submit</button>
</div>